@import "./src/scss";

.Content{
  @include fontFira(400);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;

  strong{
    font-weight: 700;
  }

}
