@import "./src/scss";

.SmallCoinImage{
  background-image: url($pathBg + "Coin_ID.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 276px;
  height: 276px;
  object-fit: scale-down;


  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    width: 276px;
    height: 276px;
  }
  @include resize-for-DESKTOP_1728{
    width: 276px;
    height: 276px;
  }
  @include resize-for-DESKTOP_1536{
    width: 276px;
    height: 276px;
  }
  @include resize-for-DESKTOP_1512{
    width: 276px;
    height: 276px;
  }
  @include resize-for-DESKTOP_1440{
    width: 276px;
    height: 276px;
  }
  @include resize-for-DESKTOP_1280{
    width: 276px;
    height: 276px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    width: 150px;
    height: 150px;
  }
  @include resize-for-iPad_768 {
    width: 100px;
    height: 100px;
  }
  //@include resize-for-iPhone6Plus_414{
  //  width: 276px;
  //  height: 276px;
  //}
  //@include resize-for-iPhoneX_375{
  //  width: 276px;
  //  height: 276px;
  //}
  //@include resize-for-iPhone6_375{
  //  width: 276px;
  //  height: 276px;
  //}
  //@include resize-for-iPhone5_320 {
  //  width: 276px;
  //  height: 276px;
  //}
}
