@import "./src/scss";

.ScreenOne{
  background: radial-gradient(31.25% 53.72% at 79.79% 45.43%, #93DC1C 0%, #197C45 56.64%, #0A4424 100%);
  height: calc(100vh - 100px);
  padding-top: 100px;
  position: relative;

  &__Wrapper{
    height: 100%;
    background-image: url($pathBg + "ScreenOne/FirstScreenLine.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;

    &__Coin{
      position: absolute;
      right: 10%;
      top: 10%;
    }
  }


}

