@import "./src/scss";

.ScreenFive{
  background: #002C38;
  position: relative;

  &__RoadMap{
    width: 1194px;
    height: 526px;
    margin: 0px auto;
    position: relative;


    &__PlaneImg{
      width: 611px;
      height: 414px;
      position: absolute;
      right: -18%;
      top: -12%;
    }



    //=====resize for desktop=========//
    @include resize-for-DESKTOP_1600{

    }
    @include resize-for-DESKTOP_1728{

    }
    @include resize-for-DESKTOP_1536{

    }
    @include resize-for-DESKTOP_1512{

    }
    @include resize-for-DESKTOP_1440{
      width: 1300px;
      height: 626px;
      &__PlaneImg{
        width: 452px;
        height: 334px;
        right: -1%;
        top: 6%;
      }
    }
    @include resize-for-DESKTOP_1280{
      width: 1000px;
      height: 526px;
      &__PlaneImg{
        width: 442px;
        height: 305px;
        right: -6%;
        top: -1%;
      }
    }


    //=====resize for mobile=========//
    @include resize-for-iPadPro_1024 {
      width: 700px;
      height: 326px;
      &__PlaneImg{
        width: 253px;
        height: 180px;
        right: -3%;
        top: 9%;
      }
    }
  }

  &__TopRadiusBlock{
    background-image: url($pathBg + "ScreenFive/BottomEllipse.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    position: absolute;
    left: 50%;
    top: -80px;
    width: 100%;
    height: 80px;
    transform: translateX(-50%);
  }
}
