.ScreenFour{
  background: radial-gradient(67.09% 67.09% at 50% 32.91%, #AE0AD7 0%, #51127F 100%);
  margin-top: -100px;
  padding: 200px 0px 200px 0px;
  position: relative;


  &__Wrapper{
    &__ContentBlock{
      width: 650px;
      margin: 0px auto 50px;
    }
  }
}
