@import "./src/scss";


.Logo{
  width: 170px;
  height: 80px;
  background-image: url($pathBg + "Logo.svg");
  //@include backgroundImage2x($pathBg + "Logo", 'png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;

  @include resize-for-iPhone5_320{
    width: 115px;
    height: 54px;
  }
}
