@import "./src/scss";


.ScreenTwo{

  padding: 0px 0px 0px 0px;
  margin: 0px 0px -420px 0px;

  background-image: url($pathBg + "ScreenTwo/Ellipse.png");
  background-repeat: no-repeat;
  background-position: center 97%;
  position: relative;
  z-index: 4;

  &__wrapper{
    background-color: #011C24;
    //background-image: url($pathBg + "ScreenTwo/Ellipse.png");
    //background-repeat: no-repeat;
    //background-position: center 97%;



    &__BgLight{
      background-image: url($pathBg + "ScreenTwo/token_light.png");
      background-repeat: no-repeat;
      background-position: top center;
      padding: 58px 0px 400px 0px;
    }
  }
  &__BottomRadiusBlock{
    background-color: #011C24;
    height: 80px;
    border-radius: 0 0 50% 50%;
    width: 105%;
    position: absolute;
    left: 50%;
    bottom: -80px;
    transform: translateX(-50%);
    z-index: 5;
  }
}
