@import "./src/scss";

.OWBLogo{
  background-image: url($pathBg + "ScreenOne/owb_logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 338px;
  height: 148px;

  position: absolute;
  left: 10%;
  top: 35%;

  $width: 338px;
  $height: 148px;



  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1728{
    width: 338px;
    height: 148px;
  }
  @include resize-for-DESKTOP_1600{
    width: 338px;
    height: 148px;
  }
  @include resize-for-DESKTOP_1536{
    width: 338px;
    height: 148px;
  }
  @include resize-for-DESKTOP_1512{
    width: 338px;
    height: 148px;
  }
  @include resize-for-DESKTOP_1440{
    width: 338px;
    height: 148px;
  }
  @include resize-for-DESKTOP_1280{
    width: 338px;
    height: 148px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    width: 200px;
    height: 87px;
  }
  @include resize-for-iPad_768 {
    width: 200px;
    height: 86px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  @include resize-for-iPhone6Plus_414{
    width: 200px;
    height: 87px;
  }
  @include resize-for-iPhoneX_375{
    top: 10%;
  }
  @include resize-for-iPhone5_320{
    width: 200px;
    height: 87px;
  }
}
