@import "./src/scss";


.ScreenSeven{
  background: radial-gradient(67.09% 67.09% at 50% 32.91%, #AE0AD7 0%, #51127F 100%);
  padding: 100px 0px 0px 0px;
  position: relative;



  &__TopRadiusBlock{
    background-image: url($pathBg + "ScreenSeven/TopEllipse.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
  }
}
