@import "./src/scss";

.ScreenThree{
  background-image: url($pathBg + "ScreenThree/mapBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 70%;




  //margin-top: -500px;
  position: relative;
  z-index: 4;

  &__Wrapper{
    background-image: url($pathBg + "ScreenThree/BottomBg.png");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center 33%;

    &__BottomBg{
      background-image: url($pathBg + "ScreenThree/Ellipse.png");
      background-repeat: no-repeat;
      background-position: bottom center;

      &__BottomBlock{
        max-width: 1120px;
        max-height: 920px;
        margin: 0px auto;
        background: radial-gradient(73.04% 73.04% at 50% 16.6%, #AE0AD7 0%, #51127F 100%);
        border-radius: 50%;
        padding: 150px 0px 0px 0px;
        position: relative;
        z-index: 4;

        &__Drone{
          width: 433px;
          height: 403px;
          position: absolute;
          right: -150px;
          top: 350px;
        }

        &__ContentBlock{
          width: 400px;
          margin: 0px auto 50px;
          @include resize-for-iPad_768 {
            margin: 0px auto 20px;
          }
        }
        &__Timer{
          margin-bottom: 50px;
        }
        &__CenterBtn{
          display: flex;
          justify-content: center;
        }


        //=====resize for desktop=========//
        @include resize-for-DESKTOP_1600{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
        }
        @include resize-for-DESKTOP_1728{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
        }
        @include resize-for-DESKTOP_1536{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
        }
        @include resize-for-DESKTOP_1512{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
        }
        @include resize-for-DESKTOP_1440{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
        }
        @include resize-for-DESKTOP_1280{
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
          &__Drone{
            width: 300px;
            height: 265px;
            right: 27px;
            top: 370px;
          }
        }


        //=====resize for mobile=========//
        @include resize-for-iPadPro_1024 {
          max-width: 1120px;
          max-height: 920px;
          padding: 150px 0px 0px 0px;
          &__Drone{
            width: 250px;
            height: 240px;
            right: 21px;
            top: 345px;
          }
        }
        @include resize-for-iPad_768 {
          max-width: 1020px;
          max-height: 920px;
          padding: 50px 50px 0px 50px;
          &__Drone{
            width: 190px;
            height: 140px;
            right: -33px;
            top: 180px;
          }
        }
        @include resize-for-iPhone6Plus_414{
          max-width: 1120px;
          max-height: 920px;
          padding: 30px 0px 0px 0px;
        }
        //@include resize-for-iPhoneX_375{
        //  max-width: 1120px;
        //  max-height: 920px;
        //  padding: 150px 0px 0px 0px;
        //}
        //@include resize-for-iPhone6_375{
        //  max-width: 1120px;
        //  max-height: 920px;
        //  padding: 150px 0px 0px 0px;
        //}
        //@include resize-for-iPhone5_320 {
        //  max-width: 1120px;
        //  max-height: 920px;
        //  padding: 150px 0px 0px 0px;
        //}


      }
    }

  }
}
