@import "./src/scss";


.MainTitle{
  @include fontFira(900);
  font-size: 160px;
  font-style: italic;
  font-weight: 900;
  line-height: 192px;
  letter-spacing: 0em;
  color: #FFCC00;
  text-transform: uppercase;
  text-align: center;
  //line-height: 115px;
  margin-bottom: 0px;



  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    font-size: 160px;
    line-height: 192px;
  }
  @include resize-for-DESKTOP_1728{
    font-size: 160px;
    line-height: 192px;
  }
  @include resize-for-DESKTOP_1536{
    font-size: 160px;
    line-height: 192px;
  }
  @include resize-for-DESKTOP_1512{
    font-size: 160px;
    line-height: 192px;
  }
  @include resize-for-DESKTOP_1440{
    font-size: 160px;
    line-height: 192px;
  }
  @include resize-for-DESKTOP_1280{
    font-size: 160px;
    line-height: 192px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    font-size: 90px;
    line-height: 100px;
  }
  @include resize-for-iPad_768 {
    font-size: 50px;
    line-height: 60px;
  }
  @include resize-for-iPhone6Plus_414{
    font-size: 50px;
    line-height: 60px;
  }
  @include resize-for-iPhoneX_375{
    font-size: 50px;
    line-height: 60px;
  }
  @include resize-for-iPhone6_375{
    font-size: 50px;
    line-height: 60px;
  }
  @include resize-for-iPhone5_320 {
    font-size: 50px;
    line-height: 60px;
  }
}
