@import "./src/scss";

.Timer{


  &__Title{
    @include fontFira(600);
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
  }


  &__Date{
    padding: 0px 0px 0px 0px;
    color: #FFFFFF;
    font-size: 54px;
    @include fontFira(900);
    text-transform: uppercase;
    text-align: center;


    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-style: italic;
    @include strokedText();

    &_value{
      font-size: 112px;
      line-height: 112px;

      //=====resize for desktop=========//
      @include resize-for-DESKTOP_1600{
        font-size: 112px;
        line-height: 112px;
      }
      @include resize-for-DESKTOP_1728{
        font-size: 112px;
        line-height: 112px;
      }
      @include resize-for-DESKTOP_1536{
        font-size: 112px;
        line-height: 112px;
      }
      @include resize-for-DESKTOP_1512{
        font-size: 112px;
        line-height: 112px;
      }
      @include resize-for-DESKTOP_1440{
        font-size: 112px;
        line-height: 112px;
      }
      @include resize-for-DESKTOP_1280{
        font-size: 112px;
        line-height: 112px;
      }


      //=====resize for mobile=========//
      @include resize-for-iPadPro_1024 {
        font-size: 90px;
        line-height: 100px;
      }
      @include resize-for-iPad_768 {
        font-size: 70px;
        line-height: 80px;

      }
      //@include resize-for-iPhone6Plus_414{
      //  font-size: 112px;
      //  line-height: 112px;
      //
      //}
      //@include resize-for-iPhoneX_375{
      //  font-size: 112px;
      //  line-height: 112px;
      //}
      //@include resize-for-iPhone6_375{
      //  font-size: 112px;
      //  line-height: 112px;
      //}
      //@include resize-for-iPhone5_320 {
      //  font-size: 112px;
      //  line-height: 112px;
      //}
    }
    &_label{
      margin: 0px 20px 0px 5px;
    }
  }
}
