@import "./src/scss";


.IconTitle{

  @include fontInter(400);
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;


  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    font-size: 26px;
    line-height: 31px;
  }
  @include resize-for-DESKTOP_1728{
    font-size: 26px;
    line-height: 31px;
  }
  @include resize-for-DESKTOP_1536{
    font-size: 26px;
    line-height: 31px;
  }
  @include resize-for-DESKTOP_1512{
    font-size: 26px;
    line-height: 31px;
  }
  @include resize-for-DESKTOP_1440{
    font-size: 26px;
    line-height: 31px;
  }
  @include resize-for-DESKTOP_1280{
    font-size: 26px;
    line-height: 31px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    font-size: 18px;
    line-height: 18px;
  }
  //@include resize-for-iPad_768 {
  //  font-size: 26px;
  //  line-height: 31px;
  //}
  //@include resize-for-iPhone6Plus_414{
  //  font-size: 26px;
  //  line-height: 31px;
  //}
  //@include resize-for-iPhoneX_375{
  //  font-size: 26px;
  //  line-height: 31px;
  //}
  //@include resize-for-iPhone6_375{
  //  font-size: 26px;
  //  line-height: 31px;
  //}
  //@include resize-for-iPhone5_320 {
  //  font-size: 26px;
  //  line-height: 31px;
  //}
}
