@import "./src/scss";

.Plane{
  @include image2x($pathBg + 'ScreenFive/Plane', 'png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
