@import "./src/scss";


.ElizaFinFlatImage{
  background-image: url($pathBg + "ScreenOne/ElizaFinFlat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 347px;
  height: 886px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);




  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    width: 326px;
    height: 830px;
  }
  @include resize-for-DESKTOP_1728{
    width: 320px;
    height: 810px;
  }
  @include resize-for-DESKTOP_1536{
    width: 315px;
    height: 800px;
  }
  @include resize-for-DESKTOP_1512{
    width: 290px;
    height: 745px;
  }
  @include resize-for-DESKTOP_1440{
    width: 270px;
    height: 690px;
  }
  @include resize-for-DESKTOP_1280{
    width: 230px;
    height: 590px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    width: 200px;
    height: 533px;
    transform: translateX(-37%);
  }
  @include resize-for-iPad_768 {
    width: 200px;
    height: 533px;
    transform: translateX(-34%);
  }
  @include resize-for-iPhone6Plus_414{
    width: 200px;
    height: 533px;
    transform: translateX(-34%);
  }
  @include resize-for-iPhoneX_375{
    width: 190px;
    height: 483px;
    transform: translateX(-30%);
  }
  @include resize-for-iPhone6_375{
    width: 190px;
    height: 483px;
    transform: translateX(-30%);
  }
  @include resize-for-iPhone5_320{
    width: 158px;
    height: 400px;
    transform: translateX(-30%);
  }



}
