.Menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;

  &__mobileVersion{
    flex-direction: column;
    max-width: 100%;

    > div{
      padding: 15px 0px;
    }
  }



  &__item{
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0px 0px;
    transition: opacity 0.3s;
    white-space: nowrap;
    text-transform: uppercase;
    display: block;
    text-decoration: none;

    &:hover{
      opacity: 1;
    }
  }


  &__isBottomMenu{
    &__item{
      font-size: 16px;
      line-height: 19px;
      font-family: Fira Sans;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      opacity: 0.7;
      margin: 0px 0px;
      transition: opacity 0.3s;
      white-space: nowrap;


      &:hover{
        opacity: 1;
      }
    }
  }
}
