.MainPage{
  height: 100%;
  transition: top 100ms ease, bottom 100ms ease;
  scroll-behavior: smooth;
  overflow-y: scroll;
  //padding-top: 100px;

  &::-webkit-scrollbar {
    display: none;
  }
}
