@import "./src/scss";

.CoinImage{
    background-image: url($pathBg + "Coin_ID.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 427px;
    height: 436px;
    object-fit: scale-down;



    //=====resize for desktop=========//
    @include resize-for-DESKTOP_1728{
        width: 390px;
        height: 400px;
        top: 20%;
    }
    @include resize-for-DESKTOP_1600{
        width: 390px;
        height: 400px;
        top: 25%;
    }
    @include resize-for-DESKTOP_1536{
        width: 390px;
        height: 400px;
        top: 10%;
    }
    @include resize-for-DESKTOP_1512{
        width: 390px;
        height: 400px;
        top: 10%;
    }
    @include resize-for-DESKTOP_1440{
        width: 390px;
        height: 400px;
        top: 15%;
    }
    @include resize-for-DESKTOP_1280{
        width: 300px;
        height: 300px;
        top: 25%;
    }


    //=====resize for mobile=========//
    @include resize-for-iPadPro_1024 {
        width: 255px;
        height: 254px;
        top: 30%;
        right: 10%;
    }
    @include resize-for-iPad_768 {
        width: 100px;
        height: 100px;
        top: 5%;
        right: 50%;
        transform: translateX(50%);
    }
    @include resize-for-iPhone6Plus_414{
        display: none;
    }
    //@include resize-for-iPhoneX_375{
    //    width: 390px;
    //    height: 400px;
    //    top: 25%;
    //}
    //@include resize-for-iPhone6_375{
    //    width: 390px;
    //    height: 400px;
    //    top: 25%;
    //}
    //@include resize-for-iPhone5_320{
    //    width: 390px;
    //    height: 400px;
    //    top: 25%;
    //}
}
