.BurgerBtn{
    display: block;
    height: 26px;
    width: 32px;
    //position: absolute;
    //top: 17px;
    //left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__sprite{
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #FFFFFF;

      &_one{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        &_active{
          transform: rotate(45deg);
        }
      }
      &_two{
        transition: transform 0.2s ease-in-out;
        &_active{
          transform: scaleY(0);
        }
      }
      &_three{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        &_active{
          transform: rotate(-45deg);
        }
      }
    }
}
