@import "./src/scss";

.Header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  transition: all 0.3s;
  z-index: 6;

  &__wrapper{
    max-width: 1580px;
    margin: 0px auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-mobile{
      //background: red;
      display: flex;
    }



    &__mobilePanel{
      background: #000000;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: calc(100vh - 100px);
      z-index: 1;
      transform: translate(-150%);
      transition: transform 0.5s ease-in-out;
      display: flex;
      align-items: center;
      padding-top: 100px;

      &_active{
        transform: translateX(0);
      }
    }
  }

  &__floating{
    background: #000000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
  }
}
