@import "./src/scss";



.FourthScreenContentTable{
  display: flex;
  //margin: 0px auto;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @include fontInter(400);

  &__LeftColumn{

    &__IconBlock{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: right;
      &:first-child{
        margin-bottom: 50px;
      }
    }
  }

  &__RightColumn{
    &__IconBlock{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: left;
      &:first-child{
        margin-bottom: 50px;
      }
    }
  }




  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    gap: 50px;
  }
  @include resize-for-DESKTOP_1728{
    gap: 50px;
  }
  @include resize-for-DESKTOP_1536{
    gap: 50px;
  }
  @include resize-for-DESKTOP_1512{
    gap: 50px;
  }
  @include resize-for-DESKTOP_1440{
    gap: 50px;
  }
  @include resize-for-DESKTOP_1280{
    gap: 50px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    gap: 30px;
  }
  @include resize-for-iPad_768 {
    gap: 20px;
  }
  @include resize-for-iPhone6Plus_414{
    gap: 20px;
  }
  @include resize-for-iPhoneX_375{
    gap: 20px;
  }
  @include resize-for-iPhone6_375{
    gap: 20px;
  }
  @include resize-for-iPhone5_320 {
    gap: 20px;
  }

}
