@import "./src/scss";

.GreenBtnTimer{
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);


  background: #93DC1C;
  padding: 8px 62px 12px 62px;
  color: #FFFFFF;
  font-size: 20px;
  @include fontFira(900);
  text-transform: uppercase;
  text-align: center;


  &__title{
    margin-bottom: 10px;
  }


  &__date{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-style: italic;
    @include strokedText();

    &_value{
      font-size: 62px;
      line-height: 53px;
    }
    &_label{
      margin: 0px 10px 0px 5px;
    }
  }



  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    bottom: 200px;
    padding: 8px 62px 12px 62px;
    &__date{
      &_value{
        font-size: 62px;
        line-height: 53px;
      }
    }
  }
  @include resize-for-DESKTOP_1728{
    bottom: 200px;
  }
  @include resize-for-DESKTOP_1536{
    bottom: 200px;
  }
  @include resize-for-DESKTOP_1512{
    bottom: 200px;
  }
  @include resize-for-DESKTOP_1440{
    bottom: 200px;
  }
  @include resize-for-DESKTOP_1280{
    bottom: 200px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    bottom: 100px;
  }
  @include resize-for-iPad_768 {
    bottom: 100px;
  }
  @include resize-for-iPhone6Plus_414{
    bottom: 50px;
    padding: 8px 30px 12px;
    &__date{
      &_value{
        font-size: 50px;
        line-height: 53px;
      }
    }
  }
  @include resize-for-iPhoneX_375{
    bottom: 50px;
    padding: 8px 30px 12px;
    &__date{
      &_value{
        font-size: 50px;
        line-height: 53px;
      }
    }
  }
  @include resize-for-iPhone6_375{
    bottom: 50px;
    padding: 8px 30px 12px;
    &__date{
      &_value{
        font-size: 50px;
        line-height: 53px;
      }
    }
  }
  @include resize-for-iPhone5_320 {
    bottom: 50px;
    padding: 8px 30px 12px;
    &__date {
      &_value {
        font-size: 50px;
        line-height: 53px;
      }
    }
  }
}
