@import "./src/scss";

.Arrow{
  &_LT{
    background-image: url($pathBg + "FourthScreen/arrowLT.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 104px;
    height: 15px;
  }
  &_LB{
    background-image: url($pathBg + "FourthScreen/arrowLB.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 92px;
    height: 20px;
  }
  &_RT{
    background-image: url($pathBg + "FourthScreen/arrowRT.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 109px;
    height: 20px;
  }
  &_RB{
    background-image: url($pathBg + "FourthScreen/ArrowRB.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 35px;
    height: 15px;
  }
}
