@import "./src/scss";

.GreenButton{
  background: #4ace24;
  padding: 28px 32px;
  margin: 0px auto;
  text-align: center;

  @include fontFira(900);
  font-size: 36px;
  font-style: italic;
  line-height: 43px;
  letter-spacing: 0em;
  color: #FFFFFF;

  display: inline-block;
  cursor: pointer;
  @include noSelectText();

  &__small{
    padding: 14px 32px;
    font-size: 26px;
  }
  &__middle{
    padding: 20px 32px;
    font-size: 30px;
  }
  &__large{
    padding: 28px 32px;
    font-size: 36px;
  }

  &:hover{
    background: #61E23C;
  }
  &__ConditionDefault{
    background: #4ace24;
  }
  &__ConditionActive{
    background: #36A118;
    &:hover{
      background: #36A118;
    }
  }
  &__ConditionDisabled{
    background: #797B79;
    &:hover{
      background: #797B79;
      cursor: auto;
    }
  }
}
