@import "./src/scss";


.LanguageSwitcher{
  width: 82px;
  height: 82px;
  border-radius: 50%;
  position: relative;
  z-index: 2;

  @include resize-for-iPhone5_320{
    width: 70px;
    height: 70px;
  }

  &__Flag{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-size: contain;

    @include resize-for-iPhone5_320{
      width: 50px;
      height: 50px;
    }


    $switcherImagePath: 'LanguageSwitcher/';
    &_en{
      background-image: url($pathBg + $switcherImagePath + "english.svg");
    }
    &_zh{
      background-image: url($pathBg + $switcherImagePath + "chinese.svg");
    }
    &_pl{
      background-image: url($pathBg + $switcherImagePath + "polish.svg");
    }
    &_ua{
      background-image: url($pathBg + $switcherImagePath + "ukrainian.svg");
    }
    &_ru{
      background-image: url($pathBg + $switcherImagePath + "russian.svg");
    }
  }



  &__SelectedLanguage{
    padding: 10px 10px 10px 10px;

    border-radius: 50px 50px 0px 0px;

    &_active{
      background: rgba(#063B48B2, 0.7);
    }

    &__Flag{
      box-shadow: inset 0 0 0 4px #4ace24;
    }
  }
  &__Dropdown{
    display: none;
    padding: 0px 0px 10px 0px;
    border-radius: 0px 0px 50px 50px;

    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    > div {
      width: 54px;
      height: 54px;
      margin: 4px 0px 6px 4px;


      &:hover{
        border: solid 4px #4ace24;
        margin: 0px 0px 2px 4px;
      }
    }
    &_active{
      display: flex;
      background: rgba(#063B48B2, 0.7);
    }
  }
}
