@import "./src/scss";

.SocialNetwork{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;

  &__icon{
    width: 30px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;

    &__ds{
      background-image: url($pathBg + "/SocialNetwork/ds.svg");
    }
    &__tw{
      background-image: url($pathBg + "/SocialNetwork/tw.svg");
    }
    &__tg{
      background-image: url($pathBg + "/SocialNetwork/tg.svg");
    }
    &__disabled{
      opacity: 0.8;
    }
  }
}
