@import "./src/scss";


.Icon{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;

  &_coins{
    background-image: url($pathBg + "FourthScreen/coin.svg");
  }
  &_market{
    background-image: url($pathBg + "FourthScreen/market.svg");
  }
  &_collect{
    background-image: url($pathBg + "FourthScreen/collect.svg");
  }
  &_lands{
    background-image: url($pathBg + "FourthScreen/lands.svg");
  }
}
