@import "./src/scss";

.SubTitle{
  @include fontFira(900);
  font-size: 42px;
  font-style: italic;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;


  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-DESKTOP_1728{
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-DESKTOP_1536{
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-DESKTOP_1512{
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-DESKTOP_1440{
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-DESKTOP_1280{
    font-size: 42px;
    line-height: 50px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    font-size: 42px;
    line-height: 50px;
  }
  @include resize-for-iPad_768 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  @include resize-for-iPhone6Plus_414{
    font-size: 28px;
    line-height: 30px;

  }
  //@include resize-for-iPhoneX_375{
  //  font-size: 42px;
  //  line-height: 50px;
  //}
  //@include resize-for-iPhone6_375{
  //  font-size: 42px;
  //  line-height: 50px;
  //}
  //@include resize-for-iPhone5_320 {
  //  font-size: 42px;
  //  line-height: 50px;
  //}
}
