body {
    margin: 0;
    font-family: 'Roboto', 'Fira Sans', sans-serif;
}

html{
    height: 100%;
}
body{
    /*background: #002c38;*/
    height: 100%;
}
#root{
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
