@import "./variable";

@mixin backgroundImage2x($imagePath, $ext) {
  background-image: url($imagePath + '@2x.' + $ext);
  // @media screen and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (min--moz-device-pixel-ratio: 2),
  //   screen and (-moz-min-device-pixel-ratio: 2),
  //   screen and (-o-min-device-pixel-ratio: 2/1),
  //   screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   background-image: url($path + '@2x.' + $ext);
  // }
}



@mixin image1x($path, $ext) {
  background-image: url($path + '.' + $ext);
}
@mixin image2x($path, $ext) {
  background-image: url($path + '@2x.' + $ext);
}
@mixin image3x($path, $ext) {
  background-image: url($path + '@3x.' + $ext);
}




@mixin fontFira($fWeight: 500) {
  font-family: $ff-fira;
  font-weight: $fWeight;
}
@mixin fontInter($fWeight: 400) {
  font-family: $ff-inter;
  font-weight: $fWeight;
}

@mixin strokedText {
  text-shadow: 2px 0 0 #000000, 0 2px 0 #000000, -2px 0 0 #000000, 0 -2px 0 #000000;
}


@mixin noSelectText() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}







//======MOBILE====MAIN STYLES====//
@mixin resize-for-iPhone5_320 {
  @media (max-width: $vp-320) {
    @content;
  }
}
@mixin resize-for-iPhone6_375 {
  @media (max-width: $vp-375) {
    @content;
  }
}
@mixin resize-for-iPhoneX_375 {
  @media (max-width: $vp-375) {
    @content;
  }
}
@mixin resize-for-iPhone6Plus_414 {
  @media (max-width: $vp-414) {
    @content;
  }
}
@mixin resize-for-iPad_768 {
  @media (max-width: $vp-768) {
    @content;
  }
}
@mixin resize-for-iPadPro_1024 {
  @media (max-width: $vp-1024) {
    @content;
  }
}

//======RESPONSIVE====MAIN STYLES====//
@mixin resize-for-DESKTOP_1280 {
  @media (max-width: $vp-1280) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1440 {
  @media (max-width: $vp-1440) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1512 {
  @media (max-width: $vp-1512) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1536 {
  @media (max-width: $vp-1536) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1600 {
  @media (max-width: $vp-1600) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1728 {
  @media (max-width: $vp-1728) {
    @content;
  }
}
@mixin resize-for-DESKTOP_1920 {
  @media (max-width: $vp-1920) {
    @content;
  }
}
