$pathBg: '~/public/images/';


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-fira:                           "Fira Sans", "Arial", sans-serif;
$ff-comic:                          "Comic Sans MS", "Arial", sans-serif;
$ff-inter:                          "Inter", sans-serif;




// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-414:                            414px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1512:                           1512px;
$vp-1536:                           1536px;
$vp-1600:                           1600px;
$vp-1728:                           1728px;
$vp-1920:                           1920px;



