@import "./src/scss";

.ScreenTwoContentTable{
  background-image: url($pathBg + "ScreenTwo/SecondScreenLine.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 170px 0px 100px 0px;



  @include fontFira(400);
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  color: #FFFFFF;

  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10%;

  > div {
    width: 20%;
    > div:first-child {
      margin-bottom: 50px;
    }
  }
  > div:first-child {
    text-align: right;
  }


  //=====resize for desktop=========//
  @include resize-for-DESKTOP_1600{
    padding: 170px 0px 100px 0px;
  }
  @include resize-for-DESKTOP_1728{
    padding: 170px 0px 100px 0px;
  }
  @include resize-for-DESKTOP_1536{
    padding: 170px 0px 100px 0px;
  }
  @include resize-for-DESKTOP_1512{
    padding: 170px 0px 100px 0px;
  }
  @include resize-for-DESKTOP_1440{
    padding: 170px 0px 100px 0px;
  }
  @include resize-for-DESKTOP_1280{
    padding: 170px 0px 100px 0px;
  }


  //=====resize for mobile=========//
  @include resize-for-iPadPro_1024 {
    padding: 50px 0px 100px 0px;
    font-size: 20px;
    > div {
      width: 40%;
    }
  }
  @include resize-for-iPad_768 {
    padding: 50px 0px 100px 0px;
    font-size: 20px;
    > div {
      width: 40%;
    }
  }
  @include resize-for-iPhone6Plus_414{
    padding: 50px 0px 100px 0px;
    font-size: 20px;
    > div {
      width: 40%;
    }
  }

}
