@import "./src/scss";


.ScreenSix{
  //background: #002C38;
  position: relative;



  &__wrapper{
    background: #002C38;
    padding: 200px 0px 0px 0px;



    &__tokenImg{
      width: 281px;
      height: 320px;

      position: absolute;
      right: 180px;
      top: 90px;
    }


  }


  &__BottomRadiusBlock{
    //background-image: url($pathBg + "ScreenSix/BottomEllipse.png");
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: top center;
    width: 100%;
    height: 80px;
  }


}
