@import "./src/scss";


.Footer{
  background: #51127F;
  border-top: 1px solid #FFFFFF33;


  &__wrapper{
    width: 1200px;
    margin: 0px auto;
    padding: 39px 0px 50px 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;


    &__FooterLogo{
      background-image: url($pathBg + "/Footer/onewayblock.svg");
      background-size: contain;
      background-repeat: no-repeat;

      width: 137px;
      height: 30px;
    }


    &__copyText{
      @include fontFira(500);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &__TermsLinks{
      display: flex;
      gap: 50px;


      > div {
        @include fontFira(450);
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        color: #B2BFC3;
      }


    }
  }


}
